body {
    background-color: bisque;
    width: 0px auto;
    margin: 0px;
    padding: 0px;
}

#Leaderboard0 {
    margin-top: -250px;
    position: fixed;
    top: 50%;
    left: -41px;
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;

}

#Leaderboard0:hover {
    left: -10px;

}

#Leaderboard0 #title {
    padding-left: 5px;
}

#Leaderboard1 {
    margin-top: -200px;
    position: fixed;
    top: 50%;
    left: -41px;
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;

}

#Leaderboard1:hover {
    left: -10px;

}

#Leaderboard1 #title {
    padding-left: 5px;
}

#Leaderboard2 {
    margin-top: -150px;
    position: fixed;
    top: 50%;
    left: -41px;
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;

}

#Leaderboard2:hover {
    left: -10px;

}

#Leaderboard2 #title {
    padding-left: 5px;
}

#Leaderboard3 {
    margin-top: -100px;
    position: fixed;
    top: 50%;
    left: -41px;
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;

}

#Leaderboard3:hover {
    left: -10px;

}

#Leaderboard3 #title {
    padding-left: 5px;
}

#Leaderboard4 {
    margin-top: -50px;
    position: fixed;
    top: 50%;
    left: -89px;
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;

}

#Leaderboard4:hover {
    left: -10px;

}

#Leaderboard4 #title {
    padding-left: 5px;
}

#Leaderboard5 {
    margin-top: 0px;
    position: fixed;
    top: 50%;
    left: -41px;
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;

}

#Leaderboard5:hover {
    left: -10px;

}

#Leaderboard5 #title {
    padding-left: 5px;
}

#Leaderboard6 {
    margin-top: 50px;
    position: fixed;
    top: 50%;
    left: -41px;
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;

}

#Leaderboard6:hover {
    left: -10px;

}

#Leaderboard6 #title {
    padding-left: 5px;
}

#Leaderboard7 {
    margin-top: 100px;
    position: fixed;
    top: 50%;
    left: -41px;
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;

}

#Leaderboard7:hover {
    left: -10px;

}

#Leaderboard7 #title {
    padding-left: 5px;
}

#Leaderboard8 {
    margin-top: 150px;
    position: fixed;
    top: 50%;
    left: -41px;
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;

}

#Leaderboard8:hover {
    left: -10px;

}

#Leaderboard8 #title {
    padding-left: 5px;
}

#Leaderboard9 {
    margin-top: 200px;
    position: fixed;
    top: 50%;
    left: -25px;
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;

}

#Leaderboard9:hover {
    left: -10px;

}

#Leaderboard9 #title {
    padding-left: 5px;
}

#container {
    margin-top: 0px;
    position: fixed;
    top: 250px;
    left: 875px;
    width: 500px;
    height: 300px;
    background-color: aliceblue;
    padding: 10px ;
    border-radius: 10px;
}

#LOGO{
    position: fixed;
}

.z1 {
    width: 350px;
    height: 150px;

}

.z2{
    width: 350px;
    height: 150px;

}

.title-photo{
    width: 650px;
    height: 450px;
}

#x1{
    position: fixed;
    top: 0%;
    left: 43%;
}

#photo-scorllbar{
    width: 375px;
    height: 720px;
    position: fixed;
    top: 100px;
    right: 20px;
    background-color: burlywood;
    padding: 10px 20px;
    border-radius: 10px;
    overflow:scroll;
    overflow-x:hidden;
}

#photo-main{
    background-color: burlywood;
    width: 675px;
    height: 475px;
    position: fixed;
    padding: 20px 20px 25px 45px;
    border-radius: 10px;
    top: 225px;
    left: 100px;
}

#information{
    background-color: chocolate;
    position: fixed;
    width: 1920px;
    height: 50px;
    padding: 30px 10px 0px 10px;
    top: 900px;
    left: 0px;
}

#take-a-photo{
    position: fixed;
    background-color: darkgoldenrod;
    right: 760px;
    top: 600px;
    width: 200;
    height: 150;
    padding: 10px;
    border-radius: 25%;
}